@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.-z-10 {
  z-index: -10;
}

.text-hero {
  font-size: 5rem;
}

.text-header {
  font-family: "Anton", sans-serif;
}
.text-header-2 {
  font-family: "Alfa Slab One", cursive;
}

.invisible {
  visibility: hidden;
}
